<ion-header>
  <ion-navbar color="danger">
    <ion-title text-center>
      <span ion-text>My Contracts</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="resetSlides()">
        <img src="../../assets/img/refresh.png" class="sort-btn">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  class="no-scroll">
  <!--  <ion-refresher (ionRefresh)="refreshList($event)">-->
  <!--    <ion-refresher-content></ion-refresher-content>-->
  <!--  </ion-refresher>-->

  <!--    <div [ngSwitch]="isThereData">-->

  <ion-slides pager class="swiper-slide"  (ionSlideDidChange)="slideChanged()" color="danger">

    <ion-slide *ngFor="let item of numbers">

      <ion-grid class="border-bottom dark-bg">
        <ion-row>
          <ion-col text-center>
            <div class="text-sm">
              <div>
                <ion-icon name="time" class="text-white"></ion-icon>
                <span ion-text color="light">{{ thisPurchase.date | date : 'mediumDate' }}</span>
              </div>
            </div>
          </ion-col>

        </ion-row>
        <ion-fab right top>
          <button ion-fab icon-only color="dark" (click)="openDetail(thisPurchase.houseIndex)">
            <img src="../../assets/img/house.png">
          </button>
        </ion-fab>

      </ion-grid>

      <ion-stepper [mode]="'horizontal'" #stepper (selectIndexChange)="selectChange($event)" >

        <ion-step  [ngSwitch]="thisPurchase.buyerConfirmation" icon="remove" >
          <div *ngSwitchCase="true">
            <img src="../../assets/img/buyer.png">
            <p>Buyer confirmed</p>
          </div>
          <div *ngSwitchCase="false">
            <img src="../../assets/img/buyer_f.png">
            <p>Buyer didn't confirm yet</p>
          </div>
          <button ion-button small ionicStepperNext color="danger">Next</button>
        </ion-step>
        <ion-step   [ngSwitch]="thisPurchase.sellerConfirmation" icon="remove" >
          <div *ngSwitchCase="false">
            <img src="../../assets/img/seller_f.png">
            <p>Owner didn't confirm yet</p>
          </div>
          <div *ngSwitchCase="true">
            <img src="../../assets/img/seller.png">
            <p>Owner confirmed</p>
          </div>
          <button ion-button color="light" small ionicStepperPrevious>Previous</button>
          <button ion-button small ionicStepperNext color="danger">Next</button>
        </ion-step>
        <ion-step [ngSwitch]="thisPurchase.sellerConfirmation" icon="remove" >
          <div>
            <img src="../../assets/img/handshake.png" *ngSwitchCase="true">
            <p *ngSwitchCase="false" >On going purchase</p>
          </div>
          <button ion-button color="light" small ionicStepperPrevious>Previous</button>
        </ion-step>
      </ion-stepper>

      <mbsc-form class="md-grid-horizontal">
        <mbsc-form-group>
          <mbsc-form-group-title>Contract Payments</mbsc-form-group-title>
          <div class="mbsc-grid">
            <div class="mbsc-row mbsc-justify-content-between">
              <div  class="mbsc-col-5"><ion-label left text-wrap color="danger" >Loan</ion-label> </div>
              <div class="mbsc-col-7"><ion-label ion-text position="floating" >{{ thisPurchase.loan | currency:'STT ':true}}</ion-label></div>
            </div>
          </div>

          <div class="mbsc-grid">
            <div class="mbsc-row mbsc-justify-content-between">
              <div  class="mbsc-col-5"><ion-label left text-wrap color="danger" >Advance</ion-label> </div>
              <div class="mbsc-col-7"><ion-label ion-text position="floating">{{ thisPurchase.advance | currency:'STT ':true}}</ion-label></div>
            </div>
          </div>

          <div class="mbsc-grid">
            <div class="mbsc-row mbsc-justify-content-between">
              <div  class="mbsc-col-5"><ion-label left text-wrap color="danger" >Monthly payment for bank</ion-label> </div>
              <div class="mbsc-col-7"><ion-label ion-text position="floating" (click)="presentPopOver($event, thisPurchase.amountPerMonthForInsurance)">
                {{ thisPurchase.amountPerMonthForBank | currency:'STT ':true}}</ion-label></div>
            </div>
          </div>

          <div class="mbsc-grid">
            <div class="mbsc-row mbsc-justify-content-between">
              <div  class="mbsc-col-5"><ion-label left text-wrap color="danger" >Monthly payment for insurance</ion-label> </div>
              <div class="mbsc-col-7"><ion-label ion-text position="floating" (click)="presentPopOver($event, thisPurchase.amountPerMonthForInsurance)">
                {{ thisPurchase.amountPerMonthForInsurance | currency:'STT ':true}}</ion-label></div>
            </div>
          </div>
          <ion-grid >
            <ion-row text-center>
              <ion-col align-self-center>
                <mbsc-form-group-title>Contract Participants</mbsc-form-group-title>
                <ion-icon name="information-circle" end="true" (click)="showMe()"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div *ngIf="hideMe" class="mbsc-grid">
            <div class="mbsc-row mbsc-justify-content-between">
              <div  class="mbsc-col-5"><ion-label left text-wrap color="danger" >Owner</ion-label> </div>
              <div class="mbsc-col-7"><ion-label ion-text position="floating" (click)="presentPopOver($event, thisPurchase.owner)">{{ thisPurchase.owner }}</ion-label></div>
            </div>
          </div>

          <div *ngIf="hideMe" class="mbsc-grid">
            <div class="mbsc-row mbsc-justify-content-between">
              <div  class="mbsc-col-5"><ion-label left text-wrap color="danger" >Buyer</ion-label> </div>
              <div class="mbsc-col-7"><ion-label ion-text position="floating" (click)="presentPopOver($event, thisPurchase.buyer)">{{ thisPurchase.buyer }}</ion-label></div>
            </div>
          </div>

          <div *ngIf="hideMe" class="mbsc-grid">
            <div class="mbsc-row mbsc-justify-content-between">
              <div  class="mbsc-col-5"><ion-label left text-wrap color="danger" >Bank</ion-label> </div>
              <div class="mbsc-col-7"><ion-label ion-text position="floating" (click)="presentPopOver($event, thisPurchase.bank)">{{ thisPurchase.bank }}</ion-label></div>
            </div>
          </div>

          <div *ngIf="hideMe" class="mbsc-grid">
            <div class="mbsc-row mbsc-justify-content-between">
              <div  class="mbsc-col-5"><ion-label left text-wrap color="danger" >Insurance</ion-label> </div>
              <div class="mbsc-col-7"><ion-label ion-text position="floating" (click)="presentPopOver($event, thisPurchase.insurance)">{{ thisPurchase.insurance }}</ion-label></div>
            </div>
          </div>
<!--         <ion-icon name="information-circle" end="true"></ion-icon>-->
        </mbsc-form-group>
      </mbsc-form>
      <div [ngSwitch]="thisPurchase.sellerConfirmation" >
        <ion-item text-center *ngSwitchCase="false" >
          <button  class="small-btn" ion-button icon-only color="blueColor" (click)="confirmPurch()">
            <ion-icon name="done-all"></ion-icon>
          </button>
          <button class="small-btn" ion-button icon-only color="danger" (click)="cancelPurch()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </div>
      <div [ngSwitch]="thisPurchase.sellerConfirmation" style="margin-bottom: 50px">
                <span *ngSwitchCase="true" style="color: darkred">
                  This is a closed purchase
                </span>
      </div>

    </ion-slide>
  </ion-slides>
</ion-content>
