<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>
      <span ion-text>Contracts List</span>
    </ion-title>
    <ion-buttons left>
      <button (click)="logout()" icon-only ion-button>
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="filterItems($event)" animated placeholder="Search by description">
  </ion-searchbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="refreshList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card (click)="openContract(purchase.purchaseIndex)" *ngFor="let purchase of purchases">

    <ion-title class="titleLab">
      <ion-label ion-text text-center="true">REF: {{ purchase.ref }}</ion-label>
    </ion-title>

    <div padding-horizontal>
      <ion-label color="primary" left text-wrap>House Description:</ion-label>
      <ion-label ion-text>{{ purchase.houseDesc }}</ion-label>

    </div>
    <div class="padding-sm ">
      <span class="pull-right text-green bold" ion-text
            style="padding-bottom: auto;"><strong>{{ purchase.date | date : 'mediumDate' }}</strong></span>

      <img *ngIf="!purchase.buyerConfirmation" class="status-icon" src="../../assets/img/house/green.png">
      <img *ngIf="purchase.buyerConfirmation&&!purchase.sellerConfirmation" class="status-icon"
           src="../../assets/img/house/gold.png">
      <img *ngIf="purchase.buyerConfirmation&&purchase.sellerConfirmation" class="status-icon"
           src="../../assets/img/house/red.png">
    </div>
  </ion-card>

</ion-content>
